@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bahadırın sitesi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">ev</a></li>
            <li><a href="/kitap/Index/">Kitaplar</a></li>
            <li><a href="#">Katagoriler</a></li>
            <li><a href="#">Yardım</a></li>
        </ul>
    </div>
</body>
</html>
